## Gitignore for the radioAdvisor pipeline

# Compiled Object files
*.slo
*.lo
*.o
*.d
*.cuo

# Compiled Dynamic libraries
*.so
*.dylib


# Compiled Static libraries
*.lai
*.la
*.a

# Compiled protocol buffers
*.pb.h
*.pb.cc
*_pb2.py

# Compiled python
*.pyc

# Compiled MATLAB
*.mex*


# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swp
*~

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Eclipse Project settings
*.*project
.settings

# QtCreator files
*.user

# PyCharm files
.idea

# OSX dir files
*.DS_Store
*/.DS_Store
.DS_Store
*._.DS_Store


## Caffe

# User's build configuration
Makefile.config

*.caffemodel
*.caffemodel.h5
*.solverstate
*.solverstate.h5
*.binaryproto
*leveldb
*lmdb

# build, distribute, and bins (+ python proto bindings)
build
.build_debug/*
caffe-fast-rcnn/.build_release/*
distribute/*
*.testbin
*.bin
caffe-fast-rcnn/python/caffe/proto/
tmp/
cmake_build
.cmake_build

# Generated documentation
docs/_site
docs/gathered
_site
doxygen
docs/dev

# LevelDB files
*.sst
*.ldb
LOCK

CURRENT
MANIFEST-*


## OTHER
src/.aws
*.pyc
*.mex*

# Logs
logs/*
src/logs/*

## Anaconda
src/Anaconda2-4.3.1-Linux-x86_64.sh

## Data

# Folder with potential heavy data
data/

# Confidential data
menisque_train_set.csv
Menisque_Train.zip

## Other

# Local db
src/db.sqlite3

# Nginx
venv/*
nginx.conf
nginx.conf.tpl
src/nginx.conf

